input[type="number"] {
  max-width: 80%;
}
div.outer {
  position: fixed;
  top: 41px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}
/* Customize fonts */
/* body, label, input, button, select {
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 400;
  text-align: justify;
}
h1, h2, h3, h4 {
  font-weight: 500;
}
*/

h1 {
  font-family: Open Sans;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
}
h3 {
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.4px;
}
p {
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 22.85px;
}
blockquote {
  font-family: Open Sans;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}
pre {
  font-family: Open Sans;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5667px;
}
#controls {
  /* Appearance */

  background-color: white;
  padding: 0 20px 20px 20px;
  cursor: move;
  /* Fade out while not hovering */

  opacity: 0.65;
  zoom: 0.9;
  transition: opacity 500ms 1s;
}
#controls:hover {
  /* Fade in while hovering */

  opacity: 0.95;
  transition-delay: 0;
}
/* Position and style citation */

#cite {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
}
/* If not using map tiles, show a white background */

.leaflet-container {
  background-color: white !important;
}
